@import "../../app.scss";

.portfolio {
  position: relative;
  .progress {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 20px 10%;
    background: linear-gradient(90deg, #111132, #000);
    z-index: 6;
    h1 {
      font-size: 6rem;
      text-align: center;
      text-shadow: 0 0 15px #01e2f6;
    }
    .progressbar {
      height: 10px;
      background-color: #fff;
      border-radius: 12px;
    }
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 5%;
    z-index: 2;
    .wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 50px;
      max-width: 1266px;
      .image_container {
        flex: 1;
        width: 50%;
        border-radius: 12px;
        border: 3px solid #01e2f6;
        box-shadow: 0 0 5px #01e2f6;
        transition: 0.5s;
        &:hover {
          box-shadow: 0 0 25px #01e2f6;
          border: 3px solid transparent;
        }
        img {
          border-radius: 12px;
          width: 100%;
          object-fit: contain;
        }
      }
      .text_container {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;
        h2 {
          font-size: 4rem;
        }
        p {
          font-size: 1.6rem;
          color: grey;
        }
      }
      .btn_wrapper {
        display: flex;
        gap: 20px;
        a {
          padding: 6px 15px;
          border-radius: 8px;
          background-color: transparent;
          border: none;
          color: #fff;
          font-size: 1.8rem;
          font-weight: 400;
          transition: all 0.4s;
          &:hover {
            cursor: pointer;
            transform: scale(1.1);
          }
        }
        .btn_orange {
          background-color: orange;
        }
        .btn_white {
          border: 1px solid #fff;
        }
      }
    }
  }

  @include mobile_screen {
    padding: 10px;
    .progress {
      h1 {
        font-size: 3rem;
      }
      .progressbar {
        height: 5px;
      }
    }
    .container {
      padding: 50px 10px 0px 10px;
      .wrapper {
        flex-direction: column;
        .image_container {
          width: 100%;
        }
        .text_container {
          gap: 14px;
          h2 {
            font-size: 3rem;
          }
          p {
            font-size: 1.6rem;
          }
        }
        .btn_wrapper {
          a {
            font-size: 1.4rem;
          }
        }
      }
    }
  }
  @media (max-width: 348px) {
    .progress {
      h1 {
        font-size: 2.2rem;
      }
    }
  }
}
