@import "../../app.scss";

.expertise {
  width: 100%;
  height: 100dvh;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  .main-title {
    width: 100%;
    text-align: center;
    font-size: 3.6rem;
    text-shadow: 0 0 15px #01e2f6;
    padding: 10px 0 0 0;
  }
  .tools-container {
    width: 45%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    border-radius: 10px;
    padding: 20px;
    &:hover {
      // box-shadow: 0px 0px 5px #01e2f6;
      .title {
        // font-size: 2rem;
        text-shadow: 0 0 25px #fff;
      }
    }
    .title {
      transition: all 0.4s;
      width: 100%;
      text-align: center;
      padding: 10px;
      font-size: 1.8rem;
    }
    .tool {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      padding: 5px 20px;
      border-radius: 10px;
      img {
        object-fit: contain;
        padding: 5px;
        width: 5rem;
        height: 5rem;
        background: #fff;
        box-shadow: 0 0 15px #fff;
        border-radius: 50px;
      }
      .name {
        font-size: 1.4rem;
        font-weight: 600;
        color: #fff;
      }

      &:hover {
        // background-color: #ffee10;
        box-shadow: 0 0 10px #01e2f6;
        img {
          background: #01e2f6;
          box-shadow: 0px 0px 25px #01e2f6;
        }
        .name {
          text-shadow: 0 0 5px #01e2f6;
          color: #01e2f6;
        }
      }
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: 0.5s;
        border-radius: 10px;
      }
      &:hover::before {
        box-shadow: 0 0 25px #01e2f6;
      }
    }
  }

  @include mobile_screen {
    flex-direction: column;
    align-items: center;
    gap: 5px;
    .main-title {
      font-size: 2rem;
      padding: 0;
    }
    .tools-container {
      width: 90%;
      height: 35%;
      padding: 0;
      box-shadow: none;
      gap: 5px;
      .title {
        font-size: 1.2rem;
        padding: 10px 0 0 0;
      }
      .tool {
        gap: 10px;
        box-shadow: 0 0 5px #01e2f6;
        img {
          padding: 2px;
          width: 2rem;
          height: 2rem;
        }
        .name {
          font-size: 1rem;
          text-shadow: 0 0 5px #01e2f6;
          color: #01e2f6;
        }
      }
    }
  }
}
