@import "../../app.scss";

.navbar {
  height: 100px;
  background: linear-gradient(90deg, #111132, #000);
  padding: 0 10%;

  .wrapper {
    max-width: 1266px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    font-size: 1.6rem;
    @include mobile_screen {
      display: none;
    }
    span {
      font-weight: bold;
    }

    .social {
      // display: flex;
      display: none;
      align-items: center;
      gap: 20px;

      img {
        width: 18px;
        height: 18px;
      }
      @include mobile_screen {
        display: none;
      }
    }
  }
}
