html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body {
  background-color: #0c0c1d;
  color: lightgray;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  height: 100dvh;
  scroll-snap-align: center;
}

/* Media queries for adjusting font size on different screen sizes */
@media only screen and (max-width: 480px) {
  html {
    font-size: 60%; /* Adjust the base font size for smaller screens */
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  html {
    font-size: 90%; /* Adjust the base font size for medium screens */
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  html {
    font-size: 45%; /* Default font size for larger screens */
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1524px) {
  html {
    font-size: 55%;
  }
}

@media only screen and (min-width: 1525px) and (max-width: 2800px) {
  html {
    font-size: 65%;
  }
}

// media query
@mixin mobile_screen {
  @media (max-width: 767px) {
    @content;
  }
}

// common styles

.glowing-box {
  background-color: transparent;
  border: none;
  border-radius: 20px;
  &:hover {
    box-shadow: 0 0 10px #01e2f6;
    text-shadow: 0 0 5px #01e2f6;
  }
  @media (max-width: 767px) {
    box-shadow: 0 0 10px #01e2f6;
    a {
      // color: #01e2f6;
      text-shadow: 0 0 2px #01e2f6;
    }
  }
}
